:root {
  --hero-image: url(./../assets/images/site-1.png);
}

#hero-image {
  background-image:
    linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)),
    var(--hero-image);
  background-position: center;
  background-size: cover;

  border-style: solid;
  border-color: black;
  border-left-width:  96px;
  border-right-width: 96px;

  background-repeat: no-repeat;

  justify-content: space-between;
  flex-direction: column;
  display: flex;

  padding: 64px 128px;
}

#hero-image #hero-textos {
  margin-bottom: 128px;
}

#hero-image #hero-textos h2 {
  font-family: 'Boogaloo';
  font-size: 250%;
  color: white;

  text-transform: uppercase;
  line-height: 1.15;

  margin-bottom: 32px;
}

#hero-image #hero-textos p {
  font-family: 'Roboto';
  font-size: 112.5%;
  color: white;

  line-height: 1.5;

  margin-bottom: 8px;
}

#hero-image #acessar {
  align-items: center;
  display: flex;
}

#hero-image #acessar svg {
  margin-right: 16px;

  color: white;
  
  height: 32px;
}

#hero-image #acessar span {
  font-family: 'Oswald';
  font-size: 150%;
  color: white;

  text-transform: uppercase;
}

#veja-mais {
  text-align: center;
}

#veja-mais a {
  font-family: 'Boogaloo';
  font-size: 200%;
  color: var(--fuel-town);
  
  text-decoration: underline;
  text-transform: uppercase;
}

#titulo-galeria {
  color: white;
}

@media only screen and (max-width: 700px) {
  #hero-image {
    background-image:
      linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
      var(--hero-image);

    border-left-width:  0;
    border-right-width: 0;

    align-items: center;

    padding: 32px;
  }

  #hero-image #hero-textos {
    text-align: center;
  }

  #hero-image #hero-textos h2 {
    font-size: 200%;
  }

  #hero-image #hero-textos p {
    font-size: 100%;
  }
}