@import './stylesheets/reset.css';
@import './stylesheets/fontes.css';
@import './stylesheets/paleta.css';

a {
  text-decoration: none;
  color: inherit;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

header {
  background-image: url(./assets/icons/brick-wall.svg);
  background-color: var(--imperial-primer);
  background-size: 32px;
  
  padding: 8px 96px;
  min-height: 96px;
  
  justify-content: space-between;
  align-items: center;
  display: flex;
}

header h1 img { height: 64px; }

header nav ul {
  display: flex;
}

header nav ul li a {
  align-items: center;
  display: flex;
}

header nav ul li {
  margin-right: 48px;
}

header nav ul li svg {
  margin-right: 16px;

  color: white;
  fill:  white;

  height: 32px;
}

header nav ul li span {
  font-family: 'Oswald';
  font-size: 125%;
  color: white;

  text-transform: uppercase;
}

.navio {
  background-image: url(./assets/icons/brick-wall.svg);
  background-color: var(--wet-asphalt);
  background-size: 32px;

  min-height: 512px;

  padding: 48px 96px;
}

.navio.claro {
  background-color: var(--fuel-town);
}

.container {
  background-color: white;

  padding: 48px;
}

h3 {
  font-family: 'Boogaloo';
  font-size: 300%;

  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;

  margin-bottom: 32px;
}

.container h3 {
  color: var(--imperial-primer);
}

.ponto {
  margin-bottom: 64px;
}

.ponto .ponto-cabecalho {
  align-items: center;
  display: flex;

  margin-bottom: 32px;
}

.ponto .ponto-cabecalho svg {
  width:  32px;
  height: 32px;

  margin-right: 24px;
}

.ponto .ponto-cabecalho h4 {
  font-family: 'Boogaloo';
  font-size: 200%;
}

.ponto .ponto-corpo p {
  width: 50%;

  font-family: 'Roboto';
  color: var(--dracula-orchid);
  
  line-height: 1.5;

  margin-bottom: 8px;
}

#navegadores {
  align-items: center;
  display: flex;
}

#navegadores li {
  margin-right: 16px;
}

#navegadores svg {
  width:  32px;
  height: 32px;

  color: var(--soothing-breeze);
}

/* Caso haja uma imagem à direita... */
.ponto.ilustrado { display: flex; }

.ponto.ilustrado p { width: 75%; }

.ponto .ponto-figura {
  display: flex;
  align-items: center;
}

.ponto .ponto-conteudo,
.ponto .ponto-figura {
  width: 50%;
}

.ponto .ponto-figura img {
  max-width: 90%;
  
  width: 384px;
  border: 16px solid white;
  box-shadow: 0 0 16px rgba(0, 0, 0, .25);
  
  transform: rotate(6.12deg);
}

@media only screen and (max-width: 700px) {
  header {
    flex-direction: column;
    padding: 24px 0;
  }

  header h1 img,
  header nav {
    width: 100%;
  }

  header nav ul {
    justify-content: space-evenly;
  }

  header nav ul li { margin-right: 0; }

  .navio {
    padding: 48px 0;
  }

  .container { padding: 32px; }

  .container h3 { font-size: 200%; }

  .ponto .ponto-corpo p {
    width: 100%;
  }

  .ponto.ilustrado {
    flex-direction: column;
  }

  .ponto .ponto-conteudo,
  .ponto .ponto-figura {
    width: 100%;
  }

  .ponto .ponto-figura {
    margin-top: 32px;
  }
}