@import "./stylesheets/reset.css";
@import "./stylesheets/fontes.css";
@import "./stylesheets/paleta.css";
@import "./stylesheets/keyframes.css";

a {
  text-decoration: none;
  color: inherit;
}

em { font-style: italic; } 

.tachado {
  text-decoration: line-through;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

header {
  background-image: url(./assets/icons/brick-wall.svg);
  background-color: var(--imperial-primer);
  background-size: 32px;

  padding: 8px 96px;
  min-height: 96px;

  justify-content: space-between;
  align-items: center;
  display: flex;
}

header h1 img {
  height: 64px;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  align-items: center;
  display: flex;
}

header nav ul li {
  margin-right: 48px;
}

header nav ul li svg {
  margin-right: 16px;

  color: white;
  fill: white;

  height: 32px;
}

header nav ul li span {
  font-family: "Oswald";
  font-size: 125%;
  color: white;

  text-transform: uppercase;
}

.navio {
  background-image: url(./assets/icons/brick-wall.svg);
  background-color: var(--wet-asphalt);
  background-size: 32px;

  padding: 48px 96px;
}

.navio.claro {
  background-color: var(--fuel-town);
}

.navio.dividido {
  display: flex;
}

.navio.dividido .container {
  width: 100%;
}

.container {
  background-color: white;

  box-sizing: border-box;
  padding: 48px;
}

h3 {
  font-family: "Boogaloo";
  font-size: 300%;

  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;

  margin-bottom: 32px;
}

.container h3 {
  color: var(--imperial-primer);
}

.ponto {
  margin-bottom: 64px;
}

.ponto .ponto-cabecalho {
  align-items: center;
  display: flex;

  margin-bottom: 32px;
}

.ponto .ponto-cabecalho svg {
  width: 32px;
  height: 32px;

  margin-right: 24px;
}

.ponto .ponto-cabecalho h4 {
  font-family: "Boogaloo";
  font-size: 200%;
}

.ponto .ponto-corpo p {
  font-family: "Roboto";
  color: var(--dracula-orchid);
  
  line-height: 1.5;
  
  margin-bottom: 8px;

  width: 100%;
}

.ponto .ponto-corpo p.reduzido {
  max-width: 512px;
  width: 75%;
}

.fileira-icones {
  align-items: center;
  display: flex;
}

.fileira-icones li {
  margin-right: 16px;
}

.fileira-icones svg {
  width: 32px;
  height: 32px;

  color: var(--soothing-breeze);
}

/* Caso haja uma imagem à direita... */
.ponto.ilustrado {
  display: flex;
}

.ponto.ilustrado p {
  width: 75%;
}

.ponto .ponto-figura {
  display: flex;
  align-items: center;
}

.ponto .ponto-conteudo,
.ponto .ponto-figura {
  width: 50%;
}

.ponto .ponto-figura img {
  max-width: 90%;

  width: 384px;
}

.moldura {
  max-width: 100%;
  border: 16px solid white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

.esquerda {
  transform: rotate(-6.25deg);
}

.mezzo-esquerda {
  transform: rotate(-3.125deg);
}

.direita {
  transform: rotate(6.25deg);
}

.mezzo-direita {
  transform: rotate(3.125deg);
}

footer {
  background-color: black;

  padding: 24px 96px 16px;

  text-align: center;
}

footer small {
  font-family: 'Roboto';
  font-size: 87.5%;
  color: white;

  line-height: 2;

  display: block;
  margin-bottom: 8px;
}

footer small a {
  text-decoration: underline;
}

#github {
  background-color: var(--city-lights);

  justify-content: center;
  align-items: center;
  display: flex;

  padding: 16px 0;
}

#github svg {
  width:  32px;
  height: 32px;

  color: var(--imperial-primer);
}

#sumario {
  background-color: var(--city-lights);

  padding: 32px;

  text-align: center;
}

#sumario > ul { margin-top: 32px /* espaço entre "SUMÁRIO" e o sumário de fato */;}

#sumario ul {
  text-align: left;

  width: 192px;
}

#sumario span:first-child {
  font-family: 'Boogaloo';
  font-size: 125%;
  color: var(--imperial-primer);

  text-transform: uppercase;

  margin-bottom: 32px;
}

#sumario .titulo-sumario {
  font-family: 'Oswald';
  font-size: 112.5%;
  color: var(--imperial-primer);
}

#sumario .divisao {
  margin-top: 12px /* espaço entre um título e os subtítulos */;

  margin-bottom: 16px;
}

#sumario .subtitulo-sumario {
  font-family: 'Oswald';
  font-size: 82.5%;
  color: var(--fuel-town);

  line-height: 1.5;
}

#sumario ul li {
  margin-bottom: 8px /* espaço vertical entre subtítulos */;
}

.parenteses {
  color: var(--american-river);
}

.link {
  color: var(--fuel-town);

  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  header {
    flex-direction: column;
    padding: 24px 0;
  }

  header h1 img,
  header nav {
    width: 100%;
  }

  header nav ul {
    justify-content: space-evenly;
  }

  header nav ul li {
    margin-right: 0;
  }

  .navio {
    padding: 48px 0;
  }

  .container {
    padding: 32px;
  }

  .container h3 {
    font-size: 200%;
  }

  .ponto .ponto-corpo p,
  .ponto .ponto-corpo p.reduzido {
    width: 100%;
  }

  .fileira-icones {
    justify-content: center;
    
    margin-top: 16px;
  }

  .ponto.ilustrado {
    flex-direction: column;
  }

  .ponto .ponto-conteudo,
  .ponto .ponto-figura {
    width: 100%;
  }

  .ponto .ponto-figura {
    margin-top: 32px;
  }

  .esquerda { transform: rotate(-3.125deg); }

  .direita { transform: rotate(3.125deg); }

  footer {
    padding: 24px 16px 16px;
  }

  footer small {
    font-size: 75%;
  }
}

@media only screen and (max-width: 1000px) {
  #sumario {
    display: none;
  }
}